<% if current_user != nil %>
  <% if current_user.role.include?("Admin") || current_user.role.include?("Journalist") || current_user.role.include?("Moderator") %>
    <a href="/articles/new">Create a new article</a>
  <% end %>
<% end %>

<%= will_paginate(@articles, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer, class: 'mt-3') %>
<% if @articles.any? %>
        <%= render @articles %>
<% end %>
<%= will_paginate(@articles, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer, class: 'mt-3') %>