
<div class="container d-flex ml-0 mr-0" style="margin-top: 50px;">
  <div class="row w-100 justify-content-around">
    <div class="col-3 text-center bg-light mr-3">
      <h5 class=" mt-3">New Players</h5>
    </div>
    <div class="col-5 text-center bg-light ml-3 mr-3">
      <h3 class=" mt-3">News</h3>
    </div>
    <div class="col-3 text-center bg-light ml-3">
      <h5 class=" mt-3">New Tournaments</h5>
    </div>
  </div>
</div>