<%# 
<div class="container-fluid" style="margin-top: 50px;">
  <div class="row justify-content-around">
    <div class="col-2">
      <h5>New Players</h5>
    </div>
    <div class="col-6">
      <h3>News</h3>
    </div>
    <div class="col-2">
      <h5>New Tournaments</h5>
    </div>
  </div>
  <div class="row justify-content-around">
    <div class="col-2 bg-info text-white">
      <p class=" mt-2">Lorem saIUDghasijudasjuhdi sadjgsdaslk  jhasjkdhajkhs asjhdjsahdasl sad Lorem saIUDghasijudasjuhdi sadjgsdaslk  jhasjkdhajkhs asjhdjsahdasl sad Lorem saIUDghasijudasjuhdi sadjgsdaslk  jhasjkdhajkhs asjhdjsahdasl sad Lorem saIUDghasijudasjuhdi sadjgsdaslk  jhasjkdhajkhs asjhdjsahdasl sad Lorem saIUDghasijudasjuhdi sadjgsdaslk  jhasjkdhajkhs asjhdjsahdasl sad Lorem saIUDghasijudasjuhdi sadjgsdaslk  jhasjkdhajkhs asjhdjsahdasl sad </p>
    </div>
    <div class="col-6">
      <div class="jumbotron">
        <h1 class="display-4">Hello, world!</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p>
      </div>  
      <div class="jumbotron">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>
    </div>
    <div class="col-2 bg-info text-white">
      <p class=" mt-2">Lorem saIUDghasijudasjuhdi sadjgsdaslk  jhasjkdhajkhs asjhdjsahdasl sad Lorem saIUDghasijudasjuhdi sadjgsdaslk  jhasjkdhajkhs asjhdjsahdasl sad Lorem saIUDghasijudasjuhdi sadjgsdaslk  jhasjkdhajkhs asjhdjsahdasl sad Lorem saIUDghasijudasjuhdi sadjgsdaslk  jhasjkdhajkhs asjhdjsahdasl sad Lorem saIUDghasijudasjuhdi sadjgsdaslk  jhasjkdhajkhs asjhdjsahdasl sad </p>
    </div>
  </div>
</div> %>