<div class="container">
  <% provide(:title, 'All players') %>
  <h1>All players</h1>

  <%= will_paginate(@users, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>

  <ul class="list-group list-group-flush">
    <%= render @users %>
  </ul>

 <%= will_paginate(@users, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer, class: 'mt-3') %>
</div>